@import 'tailwindcss';
@import 'swiper/css';

/* Цвета  */
:root {
    --black: #212a30;
    --gray: #a4a4a4;
    --brown: #dbc7a6;
    --white: #fefefe;

    --container-width: 1440px;
    --container-padding-x: 24px;

    --transition-duration: 0.2s;
}

@theme inline {
    --color-background: var(--white);
    --color-foreground: var(--black);
    --font-secondary: var(--font-viaoda-libre);
    --font-primary: var(--font-lato);
    --container-width: var(--container-width);
    --container-padding-x: var(--container-padding-x);

    --color-white: var(--white);
    --color-black: var(--black);
    --color-gray: var(--gray);
    --color-brown: var(--brown);

    --text-button: 1.25rem;
    --text-button--line-height: 1.5rem;
    --text-button-mobile: 1rem;
    --text-button-mobile--line-height: 1.5rem;
    --text-body-mobile: 1rem;
    --text-body-mobile--line-height: 150%;
    --text-body-desktop: 1.25rem;
    --text-body-desktop--line-height: 150%;
    --text-h1: 4rem;
    --text-h1--line-height: 100%;
    --text-h1-mobile: 2.25rem;
    --text-h1-mobile--line-height: 100%;
    --text-h2: 2.25rem;
    --text-h2--line-height: 100%;
    --text-h2-mobile: 1.5rem;
    --text-h2-mobile--line-height: 100%;
}

body {
    background: var(--white);
    color: var(--black);

    @apply lg:text-body-desktop font-primary text-body-mobile font-normal;
}

.container {
    max-width: calc(var(--container-width) - var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

/* From Uiverse.io by Cevorob */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--color-white);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}
